<div class="bg-white shadow rounded overflow-hidden group">
  <div class="relative">
    <img [src]="image?.shift()?.imageBytes | formatImage" [alt]="product.title" class="object-contain w-full max-h-56">
    <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
      <a [routerLink]="['/products', product.idProduct]"
         class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
         [title]="'View ' + product.title">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </a>
    </div>
  </div>
  <div class="pt-4 pb-3 px-4">
    <a [routerLink]="['/products', product.idProduct]" class="flex">
      <h4 class="uppercase font-medium mb-2 text-gray-800 hover:text-primary transition">
        {{ product.title | truncate: 15}}
      </h4>
      <p class="ml-auto text-lg text-gray-800 font-medium">{{ product.price | currency }}</p>
    </a>
  </div>
  <button *ngIf="!cartService.isProductInCart(product)"
     (click)="cartService.addProductToCart(product)"
     class="block uppercase w-full py-3 text-center font-medium text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">
    Add to cart
  </button>
  <a *ngIf="cartService.isProductInCart(product)"
     routerLink="/cart"
     class="block uppercase w-full py-3 text-center font-medium  text-white bg-secondary border border-secondary rounded-b hover:bg-transparent hover:text-secondary transition">
    Already in cart
  </a>
</div>
