<header class="bg-black top-0 left-0 z-40 w-full flex items-center">
  <div class="container">
    <div class="flex -mx-4 items-center justify-between relative">
      <div class="px-4 w-60 max-w-full">
        <a [routerLink]="['/']" class="w-full block py-5">
          <img src="assets/images/logo/logo-white.svg" alt="logo" class="w-full header-logo">
        </a>
      </div>
      <div class="flex px-4 justify-between items-center w-full">
        <app-nav-menu [isAdmin]="loginedUser != null && isAdmin()"></app-nav-menu>

        <div class="hidden xl:flex items-center">
          <a routerLink="/cart" class="flex items-center hover:text-gray-600">
            <svg class="mr-3 text-white" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-3-6">
              <path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="inline-block w-6 h-6 text-center bg-white rounded-full font-semibold font-heading">{{cartService.getTotalItems() | async}}</span>
          </a>

          <a *ngIf="!loginedUser" routerLink="/signin" class="hidden px-8 xl:flex items-center font-semibold font-heading text-white">
            <svg class="mr-3" width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-4-5">
              <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span>Sign In</span>
          </a>

          <div *ngIf="loginedUser" class="flex-shrink-0 px-8 relative group">
            <div class="flex items-center">
              <img class="w-9 h-9 object-cover mr-2 rounded-full" src="assets/images/products/product1.jpg" alt="">
              <span class="mr-2 text-white font-medium">{{loginedUser.name}}</span>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
              </span>
            </div>
            <div class="z-10 submenu hidden relative lg:absolute w-[120px] top-full lg:top-[110%] left-0 rounded-sm lg:shadow-lg p-4 lg:block lg:opacity-0 lg:invisible group-hover:opacity-100 lg:group-hover:visible lg:group-hover:top-full bg-white transition-[top] duration-300">
              <a [routerLink]="['/order', 'history']"
                 class="block text-sm text-body-color rounded hover:text-primary py-[10px] px-4">
                Orders
              </a>
              <button (click)="logout()"
                 class="block text-sm text-body-color rounded hover:text-primary py-[10px] px-4">
                Logout
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
