<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<app-mobile-filter></app-mobile-filter>

<div class="container grid md:grid-cols-4 grid-cols-2 gap-6 pt-4 pb-16 items-start">
  <div class="text-center md:hidden">
    <button
      id="filter-dialog"
      class="text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block md:hidden"
      type="button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
      </svg>
    </button>
  </div>

  <div class="col-span-1 bg-white px-4 pb-6 shadow rounded overflow-hidden hidden md:block">
    <div class="divide-y divide-gray-200 space-y-5">
      <div>
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Categories</h3>
        <div class="space-y-2">
          <div *ngFor="let category of categoryService.getAll()"
               class="flex items-center">
            <input type="checkbox"
                   class="text-primary focus:ring-0 rounded-sm cursor-pointer">
            <label class="text-gray-600 ml-3 cusror-pointer">{{category.name}}</label>
            <div class="ml-auto text-gray-600 text-sm">(1)</div>
          </div>
        </div>
      </div>
      <div class="pt-4">
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Price</h3>
        <div class="mt-4 flex items-center">
          <input type="text" name="min" id="min"
                 class="w-full border-gray-300 focus:border-primary rounded focus:ring-0 px-3 py-1 text-gray-600 shadow-sm"
                 placeholder="min">
          <span class="mx-3 text-gray-500">-</span>
          <input type="text" name="max" id="max"
                 class="w-full border-gray-300 focus:border-primary rounded focus:ring-0 px-3 py-1 text-gray-600 shadow-sm"
                 placeholder="max">
        </div>
      </div>
      <div class="pt-4">
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">size</h3>
        <div class="flex items-center gap-2">
          <div class="size-selector">
            <input type="radio" name="size" id="size-xs" class="hidden">
            <label for="size-xs"
                   class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">XS</label>
          </div>
          <div class="size-selector">
            <input type="radio" name="size" id="size-sm" class="hidden">
            <label for="size-sm"
                   class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">S</label>
          </div>
          <div class="size-selector">
            <input type="radio" name="size" id="size-m" class="hidden">
            <label for="size-m"
                   class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">M</label>
          </div>
          <div class="size-selector">
            <input type="radio" name="size" id="size-l" class="hidden">
            <label for="size-l"
                   class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">L</label>
          </div>
          <div class="size-selector">
            <input type="radio" name="size" id="size-xl" class="hidden">
            <label for="size-xl"
                   class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">XL</label>
          </div>
        </div>
      </div>
      <div class="pt-4">
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Color</h3>
        <div class="flex items-center gap-2">
          <div class="color-selector">
            <input type="radio" name="color" id="red" class="hidden">
            <label for="red"
                   class="border border-gray-200 rounded-sm h-6 w-6  cursor-pointer shadow-sm block"
                   style="background-color: #fc3d57;"></label>
          </div>
          <div class="color-selector">
            <input type="radio" name="color" id="black" class="hidden">
            <label for="black"
                   class="border border-gray-200 rounded-sm h-6 w-6  cursor-pointer shadow-sm block"
                   style="background-color: #000;"></label>
          </div>
          <div class="color-selector">
            <input type="radio" name="color" id="white" class="hidden">
            <label for="white"
                   class="border border-gray-200 rounded-sm h-6 w-6  cursor-pointer shadow-sm block"
                   style="background-color: #fff;"></label>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-span-3">
    <div class="flex items-center mb-4">
      <select name="sort" id="sort"
              class="w-44 text-sm text-gray-600 py-3 px-4 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary">
        <option value="">Default sorting</option>
        <option value="price-low-to-high">Price low to high</option>
        <option value="price-high-to-low">Price high to low</option>
        <option value="latest">Latest product</option>
      </select>
    </div>

    <div class="grid md:grid-cols-3 grid-cols-2 gap-6">

      <app-product-card *ngFor="let product of productService.getAll(); index as i;"
                        [product]="product"
                        [image]="productService.getImageById(i)"
                        [isInCart]="false">
      </app-product-card>

      <app-product-card *ngFor="let product of productService.getAll().slice(0, 2); index as i;"
                        [product]="product"
                        [image]="productService.getImageById(i)"
                        [isInCart]="true">
      </app-product-card>


    </div>
  </div>
</div>
