<div>
  <div class="flex justify-center items-center">
    <button class="mr-auto" (click)="slideToIndex((currentIndex - 1 + images.length) % images.length)">
      <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </button>
    <img [src]="images[currentIndex]" class="object-contain w-1/2">
    <button class="ml-auto" (click)="slideToIndex((currentIndex + 1) % images.length)">
      <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>

  </div>

  <div class="grid grid-cols-8 gap-2 mt-4">
    <button *ngIf="left > 0"
            class="my-auto ml-auto"
            (click)="moveMapTo(-1)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
      </svg>
    </button>
    <ng-container *ngFor="let image of images.slice(left, right); index as i">
      <img *ngIf="i === currentIndex" [src]="image"
           class="w-full cursor-pointer border border-primary">
      <img *ngIf="i !== currentIndex" [src]="image"
           (click)="slideToIndex(i)"
           class="w-full cursor-pointer border">
    </ng-container>
    <button *ngIf="right !== images.length && images.length > 6"
            class="my-auto"
            (click)="moveMapTo(1)">
      <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </div>
</div>
